.paginationjs-pages ul li {
  list-style: none;
  float: left;
  width: 30px;
  height: 30px;
  margin: 1px;
  color:red;
  font-weight: bold;
  font-size: 18px;
}
.table tbody{
  color: #6c7293;
}
.update, .delete{
margin: 6px;
font-size: 10px;

}
.save-article i {
text-decoration: none;
 color: white;
}
.alert-warning{
display: flex;
position:fixed;
margin-top: auto;
margin-left:50%;
display: none; 
width: 20%;  
}
.alert-warning strong {
color : white;
}